<link rel="stylesheet" href="/static/styles.css" />


<h2 class="title">Welcome to the Blockhain HomePage!</h2>

<body>

    <h2 class="title">Available actions</h2>

    <form action="/display_chain">
        <button class="button-1" type="submit">Display chain</button>
    </form>

    <form action="/simulate_attack">
        <button class="button-1" type="submit">Simulate an attack</button>
    </form>

    <form action="/check_validation">
        <button class="button-1" type="submit">Check if the chain is valid</button>
    </form>

    <form action="/current_validators">
        <button class="button-1" type="submit">Current validators</button>
    </form>


</body>