<link rel="stylesheet" href="/static/styles.css" />


<body>

    <div class="login-box">
        <form method="post" class="form" id="form">
          <h2 class="form__title">Login</h2>
          <div class="user-box">
            <input class="container__input" type="text" id="username" name="username" value="" required>
            <label id="userLabel" for="username" class="container__label">Username</label>
          </div>
          <div class="user-box">
            <input class="container__input" type="text" id="lai_pc" name="lai_pc" value="" required>
            <label id="userLabel" for="lai_pc" class="container__label">LAI Computer</label>
          </div>
          <div class="user-box">
            <input class="container__input" type="password" id="password" name="password" value="" required>
            <label id="passLabel" for="password" class="container__label">Password</label>
          </div>
          <a href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <input type="submit" name="submit" value="Sign up">
          </a>
        </form>
      </div>

</body>