<link rel="stylesheet" href="/static/styles.css" />

<body>

    <h2 class="title">Available actions</h2>

    <div class="flex-parent jc-center">

        <form action="/display_chain">
            <button class="button-1" type="submit">Display chain</button>
        </form>

        <form action="/simulate_attack">
            <button class="button-1" type="submit">Simulate an attack</button>
        </form>

        <form action="/check_validation">
            <button class="button-1" type="submit">Check if the chain is valid</button>
        </form>

        <form action="/current_validators">
            <button class="button-1" type="submit">Current validators</button>
        </form>

    </div>

    <h2 class="title">Current validators: </h2>

    <table class="table">
        <tr class="table__header">
            {% for header in headings %}
            <th class="table__cell"> {{header}} </th>
            {% endfor %}
        </tr>

        {% for row in validators %}
        <tr class="table__row">
            {% for cell in row %}
            <td class="table__cell"> {{cell}} </td>
            {% endfor %}
        </tr>
        {% endfor%}

    </table>
    

</body>