<link rel="stylesheet" href="/static/styles.css" />

<body>

    <h2 class="title">Available actions</h2>

    <div class="flex-parent jc-center">
        <form action="http://127.0.0.1:5000/mine_block">
            <button class="button-1" type="submit">Mine a block</button>
        </form>

        <form action="http://127.0.0.1:5000/display_chain">
            <button class="button-1" type="submit">Display chain</button>
        </form>
    </div>

    <h2 class="title">The chain was not valid, mining attempt failed</h2>

</body>