<link rel="stylesheet" href="/static/styles.css" />


<body>

    <h2 class="title">Available actions</h2>

    <div class="flex-parent jc-center">
        <form action="/new_block">
            <button class="button-1" type="submit">Validate a block</button>
        </form>

        <form action="/display_chain">
            <button class="button-1" type="submit">Display chain</button>
        </form>

        <form action="/new_validator">
            <button class="button-1" type="submit">Add a validator</button>
        </form>

        <form action="/current_validators">
            <button class="button-1" type="submit">Current validators</button>
        </form>

        <form action="/remove_validator">
            <button class="button-1" type="submit">Remove a validator</button>
        </form>

        <h2 class="title">The chain was not valid, validation attempt failed</h2>
</body>
