<link rel="stylesheet" href="/static/styles.css" />


<body>

    <h2 class="title">Available actions</h2>

    <div class="flex-parent jc-center">
      <form action="/new_block">
          <button class="button-1" type="submit">Validate a block</button>
      </form>

      <form action="/display_chain">
          <button class="button-1" type="submit">Display chain</button>
      </form>

      <form action="/current_validators">
          <button class="button-1" type="submit">Current validators</button>
      </form>

      <form action="/remove_validator">
        <button class="button-1" type="submit">Remove a validator</button>
      </form>
    </div>

    <div class="login-box">
        <form method="post" class="form" id="form">
          <h2 class="form__title">Create a Validator</h2>
          <div class="user-box">
            <input class="container__input" type="text" id="id" name="id" value="" required>
            <label id="userLabel" for="id" class="container__label">ID</label>
          </div>
          <div class="user-box">
            <input class="container__input" type="password" id="tokens" name="tokens" value="" required>
            <label id="passLabel" for="tokens" class="container__label">Tokens</label>
          </div>
          <a href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <input type="submit" name="submit" value="Submit">
          </a>
        </form>
      </div>

</body>
